.login-page {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .login-page h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  .sso-field {
    margin-bottom: 15px;
  }
  
  .sso-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
  }
  
  .sso-field input::placeholder {
    color: #999;
  }
  
  .sso-button {
    margin-top: 0.1rem;
    background-color: #1F3557;
    border: 1px solid #ced4da;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    color: #ffff;
    transition: border-color 0.3s ease;
  }
  
  .sso-button:hover {
    background-color: #162845;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-page form .sso-button[type="submit"] {
    margin-top: 10px; /* Keep the top margin for the Submit button */
  }
  
  .close-button {
    background-color: #e0e0e0;
    border: 1px solid #ced4da;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    transition: border-color 0.3s ease;
    margin-top: 5px;
    align-self: auto;
  }
  
  .close-button:hover {
    background-color: #bdbdbd;
  }